body {
  background-image: url('bg.jpg');
  color: white;
  font-style: italic;
}
.navbar {
  float: right;
}
.porto {
  width: 45%;
  font-style: helvetica;
  float: left;
  margin-left: 35px;
  margin-top: 150px;
}
.biodata {
  width: 35%;
  font-style: helvetica;
  float: right;
  margin-top: 200px;
}
.nama {
  display: flex;
  align-items: center;
}
.bio {
  margin-left: 10px;
}
.ttg {
  /* margin-top: 80px; */
}
.biodata img {
  width: 125px;
  height: 125px;
  float: left;
}
